<!doctype html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<%- include('../includes/navbar.ejs') %>
		<%- include('../includes/sidebar.ejs') %>
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">학생 관리</h3>
					<a href="/admin/student_add"><button class="btn btn-secondary" type="button">학생 등록</button></a>
					<div class="row">
						<div class="col-md-6">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">햇님반</h3>
								</div>
								<div class="panel-body">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>이름</th>
												<th>생일</th>
												<th>RFID KEY</th>
											</tr>
										</thead>
										<tbody>
											<% student1.forEach(function(student){ %>
											<tr onclick="location.href = '/student/<%=student1.id%>';">
												<td><%=student.id%></td>
												<td><%=student.name%></a></td>
												<td><%=student.birth%></td>
												<td><%=student.rfid_key%></td>
											</tr>
											<% }); %>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
						<div class="col-md-6">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">별님반</h3>
								</div>
								<div class="panel-body">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>이름</th>
												<th>생일</th>
												<th>RFID KEY</th>
											</tr>
										</thead>
										<tbody>
											<% student2.forEach(function(student){ %>
											<tr onclick="location.href = '/student/<%=student1.id%>';">
												<td><%=student.id%></td>
												<td><%=student.name%></a></td>
												<td><%=student.birth%></td>
												<td><%=student.rfid_key%></td>
											</tr>
											<% }); %>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">달님반</h3>
								</div>
								<div class="panel-body">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>이름</th>
												<th>생일</th>
												<th>RFID KEY</th>
											</tr>
										</thead>
										<tbody>
											<% student3.forEach(function(student){ %>
											<tr onclick="location.href = '/student/<%=student1.id%>';">
												<td><%=student.id%></td>
												<td><%=student.name%></a></td>
												<td><%=student.birth%></td>
												<td><%=student.rfid_key%></td>
											</tr>
											<% }); %>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
						<div class="col-md-6">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">꽃님반</h3>
								</div>
								<div class="panel-body">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>이름</th>
												<th>생일</th>
												<th>RFID KEY</th>
											</tr>
										</thead>
										<tbody>
											<% student4.forEach(function(student){ %>
											<tr onclick="location.href = '/student/<%=student1.id%>';">
												<td><%=student.id%></td>
												<td><%=student.name%></a></td>
												<td><%=student.birth%></td>
												<td><%=student.rfid_key%></td>
											</tr>
											<% }); %>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Shared by <i class="fa fa-love"></i><a
						href="https://bootstrapthemes.co">BootstrapThemes</a>
				</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/scripts/klorofil-common.js"></script>
</body>

</html>