<!doctype html>
<html lang="en">
	
<%- include('../includes/head.ejs') %>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<%- include('../includes/navbar.ejs') %>
		<%- include('../includes/sidebar.ejs') %>
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">포토</h3>
					<div align="right"><a href="/photo/add"><button class="btn btn-primary" type="button">사진 올리기</button></a></div>
					<div class="panel panel-headline" style="margin-top: 1%;">
						<div class="panel-body">
							<div class="panel-body no-padding">
								<!-- 여기서부터 -->
								<% for(let i = 0; i < c_article.length; i++) { %>
								<div class="col-lg-4 col-sm-6 portfolio-item">
									<div class="hovereffect">
										<img style="width: 100%; min-height: 200px; max-height: 200px" src="<%=c_article[i].savefolder%>/<%=c_article[i].savename%>" alt="">
										<div class="overlay" align="center">
											<a class="info" href="/photo_info/<%= c_article[i].id %>">
												<div>
													<span>제목 : </span>
													<span><%=c_article[i].title %></span>
												</div>
												<div>
													<span>시간 : </span>
													<span><%= c_article[i].time %></span>
												</div>
												<div>
													<span>조회수 : </span>
													<span><%= c_article[i].hit %></span>
												</div>
											</a>
										</div>
									</div>
								</div>
								<% } %>
								<!-- 여기까지 -->
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
	</div>
	<!-- END MAIN -->
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/vendor/chartist/js/chartist.min.js"></script>
	<script src="/scripts/klorofil-common.js"></script>

</body>

</html>