<!doctype html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<head>

</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<%- include('../includes/navbar.ejs') %>
		<%- include('../includes/sidebar.ejs') %>
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">

				<div class="container-fluid">
					<h3 class="page-title">알림장</h3>
					<div class="">
						<select class="form-control" id="classname" name="classname" 
						onchange="if(this.value) location.href='/notice?class='+this.value;">
							<option value="햇님반" <% if(classname == "햇님반") { %> selected <% } %>>햇님반</option>
							<option value="별님반" <% if(classname == "별님반") { %> selected <% } %>>별님반</option>
							<option value="달님반" <% if(classname == "달님반") { %> selected <% } %>>달님반</option>
							<option value="꽃님반" <% if(classname == "꽃님반") { %> selected <% } %>>꽃님반</option>
						</select>
					</div>
					<div class="panel panel-headline">
						<div class="panel-body">
							<div class="panel-body no-padding">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th class="text-center col-sm-2">NO.</th>
											<th class="text-center col-sm-2">날짜</th>
											<th class="text-center col-sm-6">제목</th>
											<th class="text-center col-sm-2">작성자</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<% articles.forEach(function(article){ %>
											<td class="text-center"><%=article.id%></td>
											<td class="text-center"><%=article.time%></a></td>
											<td class="text-left"><%=article.title%></td>
											<td class="text-center"><%=article.name%></td>
										</tr>
										<tr style="padding: 50px;">
											<td class="text-left" colspan="4" style="padding: 50px;">
												<%-article.content.replace(/\n/g, '<br/>')%>
											</td>
										</tr>
										<% }); %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div align="right">
						<% if(user.grade == 'A') { %>
						<a href="/notice/write"><button class="btn btn-primary">글쓰기</button></a>
						<% } %>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/scripts/klorofil-common.js"></script>
</body>

</html>