<!doctype html>
<html lang="en">
	
<%- include('../includes/head.ejs') %>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<%- include('../includes/navbar.ejs') %>
		<%- include('../includes/sidebar.ejs') %>
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">등하원 관리</h3>
					<div style="margin-bottom: 1%;">
						<input id="birth" name="birth" type="month" value='<%=searchdate%>'
						onchange="if(this.value) location.href='/inout?searchdate='+this.value;">
					</div>
					<div class="panel panel-headline col-sm-5"
						style="overflow:auto; height:600px; padding:10px; margin-left: 60px;">
						<h3 class="page-title">등원 관리</h3>
						<div class="panel-body">
							<div class="panel-body no-padding">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="text-left">No.</th>
											<th class="text-center">시간</th>
											<th class="text-center">이름</th>
											<th class="text-center">비고</th>
										</tr>
									</thead>
									<tbody>
										<% ins.forEach(function(insn){ %>
										<tr>
											<td class="text-left"><%=insn.no%></td>
											<td class="text-center"><%=insn.time%></td>
											<td class="text-center"><%=insn.name%></td>
											<td class="text-center"><% if(insn.code == "bus"){ %>
																	버스
																	<%}else {%>
																	유치원
																	<%}%>	
											</td>
										</tr>
										<% }); %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
					<div class="panel panel-headline col-sm-5" style="overflow:auto; height:600px; padding:10px;">
						<h3 class="page-title">하원 관리</h3>
						<div class="panel-body">
							<div class="panel-body no-padding">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="text-left">No.</th>
											<th class="text-center">시간</th>
											<th class="text-center">이름</th>
											<th class="text-center">비고</th>
										</tr>
									</thead>
									<tbody>
										<% outs.forEach(function(outsn){ %>
										<tr>
											<td class="text-left"><%=outsn.no%></td>
											<td class="text-center"><%=outsn.time%></td>
											<td class="text-center"><%=outsn.name%></td>
											<td class="text-center"><% if(outsn.code == "bus"){ %>
																	버스
																	<%}else {%>
																	유치원
																	<%}%>
											</td>
										</tr>
										<% }); %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<!-- END WRAPPER -->
		<!-- Javascript -->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<script src="/vendor/toastr/toastr.min.js"></script>
		<script src="/scripts/klorofil-common.js"></script>
</body>

</html>